<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
        <h1 class="navbar-brand m-3">Welcome to Medspace, {{one_patient[0]['first_name']}}!!!</h1>
        <div class="my-2 my-lg-0 m-3">
            <a href="">.........</a>
            <a class="p-4" href="/logout">Log Out</a>
        </div>
    </nav>
    <div class="p-5 m-5 w-75">
        <h3>Choose your preferred pharmacies:</h3>
        <br>
        <table class="table table-striped">
            <tbody>
                {% if all_pharmacies %}
                    {% for one_pharmacy in all_pharmacies %}
                        <tr>
                            <td><a href="/pharmacy/{{one_pharmacy['id']}}">{{one_pharmacy['name']}} located at: {{one_pharmacy['address']}}</a></td>
                            <td><a href="/patient_profile/{{patient_id}}/{{one_pharmacy['id']}}">Add pharmacy</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    <!-- <div class="p-5 m-5 w-50">
        <ul class="list-group">
            <li class="list-group-item active">Choose your preferred pharmacies:</li>
            {% for one_pharmacy in all_pharmacies %}
                <a href="/pharmacy/{{one_pharmacy['id']}}"><li class="list-group-item">{{one_pharmacy['name']}} located at: {{one_pharmacy['address']}}</li></a>
                <a href="/patient_profile/{{patient_id}}/{{one_pharmacy['id']}}">Add pharmacy</a>
            {% endfor %}
        </ul>
    </div> -->
</body>
</html>