<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
        <h1 class="navbar-brand m-3">Welcome to Medspace, {{one_patient[0]['first_name']}}!!!</h1>
        <div class="my-2 my-lg-0 m-3">
            <a class="p-5" href="/patient_profile/{{session['patient_id']}}">Dashboard</a>
            <a class="p-4" href="/logout">Log Out</a>
        </div>
    </nav>
    <div class="p-5 m-5">
        <h3>Medications list at {{one_pharmacy[0]['name']}} located at {{one_pharmacy[0]['address']}}:</h3>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Directions</th>
                    <th scope="col">Days Left</th>
                    <th scope="col">Refills Left</th>                    
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if all_meds %}
                    {% for one_med in all_meds %}
                        <tr>
                            <td>{{one_med.name}}</td>
                            <td>{{one_med.directions}}</td>
                            <td>{{one_med.days_left}}</td>
                            <td>{{one_med.refills}}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-end"><a href="/new_med/" class="pr-5">Add a Prescription</a></div>
</body>
</html>